div{
    background-color: magenta;
    width: 300px;
    height: 300px;
    max-width: 400px;
    min-width: 300px;

    max-height: 400px;
    min-height: 300px;

    /* PADDING */
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 30px;

    padding: 60px; /* padding: arriba y abajo, izquierda y derecha */

    /* BORDER */
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    

    border-color: black;
    border-style: dashed;
    border-radius: 30%;

    /* MARGIN */
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 30px;

    margin: 50px; /* margin: arriba y abajo, izquierda y derecha */
    

}