header {
    width: 100%;
    height: 100%;

    position: fixed;
    top:0;
    left:0;

    background-color: blue;
}

    nav{
        width: 100%;
        height: 50px;

        background-color: brown;
        position: fixed;

        top: 100px;
        left:0;
    }

    article{
        background-color: blanchedalmond;
        position: fixed;

        top:150px;
        left:0;

        width: 80%;
        height: 100%;
    }

    aside{
        background-color: rgb(0, 0, 117);
        position: fixed;

        top: 150px;
        right: 0;

        width: 20%;
        height: 100%;
    }

    footer{
        background-color: azure;
        position: fixed;

        left: 0;
        bottom: 0;

        width: 100%;
        height: 50px;
    }