#Contenedor p{
    color: rgb(24, 86, 201);
    font-size: 25px;
}

#Contenedor p:first-child{
    font-size: 50px;
    font-weight: 300;
}

#Contenedor p:last-child{
    color: rgb(212, 1, 57);
}


/*even - Pares; odd - Impares*/
#Contenedor p:nth-child(2){
    font-style: italic;
    cursor: pointer;
}

#Contenedor p:nth-child(3){
    letter-spacing: 20px;
}

#Contenedor p:nth-child(4){
    word-spacing: 75px;
}

#Contenedor p:nth-child(5){
    line-height: 100px;
}

#Contenedor p:nth-child(6){
    text-indent: 50px;
}

#Contenedor p{
    color: rgb(24, 86, 201);
    font-size: 25px;
}

#Contenedor p:first-child{
    font-size: 50px;
    font-weight: 300;
}

#Contenedor p:last-child{
    color: rgb(212, 1, 57);
}


/*even - Pares; odd - Impares*/
#Contenedor p:nth-child(2){
    font-style: italic;
    cursor: pointer;
}

#Contenedor p:nth-child(3){
    letter-spacing: 20px;
}

#Contenedor p:nth-child(4){
    word-spacing: 75px;
}

#Contenedor p:nth-child(5){
    line-height: 100px;
}

#Contenedor p:nth-child(7){
    text-align: center;
}

#Contenedor p{
    color: rgb(24, 86, 201);
    font-size: 25px;
}

#Contenedor p:first-child{
    font-size: 50px;
    font-weight: 300;
}

#Contenedor p:last-child{
    color: rgb(212, 1, 57);
}


/*even - Pares; odd - Impares*/
#Contenedor p:nth-child(2){
    font-style: italic;
    cursor: pointer;
}

#Contenedor p:nth-child(3){
    letter-spacing: 20px;
}

#Contenedor p:nth-child(4){
    word-spacing: 75px;
}

#Contenedor p:nth-child(5){
    line-height: 100px;
}

#Contenedor p:nth-child(6){
    text-transform: uppercase;
}